<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hww.project.learn.springboot.mapper.UserMapper">

	<select id="findUserInfo" resultType="com.hww.project.learn.springboot.model.User">
		select id,name, age,password from user
	</select>

	<select id="getAllUser" resultType="com.hww.project.learn.springboot.model.User">
		select id,name, age,password from user
	</select>

	<select id="getUserByName" resultType="com.hww.project.learn.springboot.model.User"
		parameterType="string">
		select id,name, age,password from user
		where name = #{name}

	</select>
</mapper>